
/* PHPStorm's settings directory*/
.idea/
.idea/*

/* Ignore vendor packages installed by Composer */
//vendor/    //include vendor so Englund can pull down all files


/* Ignore generated XML files */
englund.xml
englund1.xml
englund*.xml

/* Settings file */
settings.php